*{
    margin:0px;
}
h1{
    border: 0px;
    background: black;
    color:white;
    text-align: center;
    padding: 15px;
    width:970px;
}
section{
    background:lightgray;
    float:left;
    margin:0px;
    padding:25px;
    padding-top:0px;
    padding-left:0px;
}

img{
    float:left;
    padding:15px;
}
p{
    padding: 10px; 
    margin:5px; 
}

li{
    padding:2px;
}
div{
    background:lightgray;
    float:left;
    margin:0px;
    padding:39px;
}
h2{
    padding:10px;
    margin:0px;
}
header, section, hgroup, div{
    display:block;
}